<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Get your urls"</title>
</head>
<body>
    <h1 style="color:blue;">Artificial Intelligence Topics </h1>
    <form method="POST" action="/">

        Social Media (Fake News) <input type="checkbox" name="check" value="0"  ><br>
        Human Discrimination <input type="checkbox"                name="check" value="1"  ><br>
        Material and Energy <input type="checkbox"                 name="check" value="2"  ><br>
        Voice Assistant <input type="checkbox"                     name="check" value="3"  ><br>
        Business <input type="checkbox"                    name="check" value="4"  ><br>
        Autonomous Vehicle <input type="checkbox"                  name="check" value="5" ><br>
        Hadware (Chip) <input type="checkbox"                     name="check" value="6" ><br>
        Human Question/Answer Problem <input type="checkbox"       name="check" value="7" ><br>
        Image Recognition by DNN <input type="checkbox"            name="check" value="8" ><br>
        Art <input type="checkbox"                                 name="check" value="9"  ><br>
        Robots <input type="checkbox"                              name="check" value="10" ><br>
        Medical <input type="checkbox"                             name="check" value="11" ><br>
        Legal Service (Government) <input type="checkbox"          name="check" value="12" ><br>
        Industry (Sillicon Aalley) <input type="checkbox"          name="check" value="13" ><br>
        Academic Research <input type="checkbox"                   name="check" value="14" ><br>
        Game <input type="checkbox"                                name="check" value="15" ><br>
        Development and Application <input type="checkbox"       name="check" value="16" ><br>
        <br>
        <br>
        <input type="submit" value="Submit">


    </form>

</body>
</html>